[submodule "external/geometry-central"]
	path = external/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/PX4/eigen.git
